<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title><%= recipe.name %></title>
</head>
<body>
    <div class="container">
        <h2><%=recipe.name%></h2>
    </div>
    <div id="row">
        <img src="<%=recipe.image%>"/>
    </div>
    <br>
    <h3>Ingredients:</h3>
    <ul>
        <li>
            <%= recipe.ingredients %>
        </li>
            <br>
            <h3>Directions:</h3>
            <ul>
                <li>
                    <%= recipe.directions %>
                </li>
            </ul>
    </ul>
    <br>
    <button class="button button-outline"><a href="/recipe/<%=recipe._id%>/edit">Edit</a></button>        
    <br>
    <form action="/recipe/<%=recipe.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form>
    <br>
    <button class="button button-outline"><a href="/recipe">Back to Meals</a></button>        
</body>
</html>